.ant-form {
  .MuiOutlinedInput-root legend {
    width: unset;
    font-size: 12px;
  }
}

.ant-form-large .ant-form-item-label {
  height: 28px;
  padding-bottom: 4px;

  > label {
    height: 24px;
  }
}

.ant-form-item .MuiFormControl-root {
  .MuiOutlinedInput-root {
    border-radius: 2px;
  }

  .MuiOutlinedInput-input {
    padding: 11px 0px 10px 10px;
  }

  .MuiOutlinedInput-notchedOutline {
    top: -9px;
  }
}

.ant-notification {
  z-index: 1301;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: inherit;
}

.ant-popover-message-title {
  font-size: 1rem;
}

.ant-input[disabled],
.ant-select-disabled.ant-select:not(.ant-select-customize-input) .ant-select-selector {
  color: inherit;
  background: transparent;
}

@mixin typography {
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.00938em;
}

.ant-tabs {
  .ant-tabs-tab {
    padding-bottom: 4px;

    .ant-tabs-tab-btn {
      @include typography;
      font-size: 1rem;
      text-transform: uppercase;
    }
  }
}

.ant-select-item-option-selected:not(.ant-select-item-option-disabled) {
  font-weight: 500;
}

.ant-select-item {
  @include typography;
}

.ant-spin-nested-loading > div > .ant-spin .ant-spin-dot {
  left: calc(50% - 20px);
  margin: 0px;
}
