.ant-form {
  .MuiOutlinedInput-root legend {
    width: unset;
    font-size: 12px;
  }
}

.ant-form-large .ant-form-item-label {
  padding-bottom: 4px;

  > label {
    height: 24px;
  }
}

.CV-Preview {
  height: 100%;

  .ant-tabs-content {
    height: 100%;
  }
}

.MuiPagination-root {
  .MuiPaginationItem-root {
    line-height: 1;
  }
}

.ant-notification {
  z-index: 1301;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: inherit;
}
