.App,
body {
  min-height: 100vh;
  background-color: #fafafa;
}

.Auth-Layout {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 24px;
}

.App-Header {
  flex-direction: row !important;
  align-items: center;
  height: 60px;
  z-index: 2;
  padding: 0px 24px;
}

.App-Body {
  padding: 24px;
  padding-top: 84px !important;
}

@media screen and (max-width: 800px) {
  .App-Header {
    padding: 0px 8px;

    .MuiIconButton-root {
      padding: 8px;
    }
  }
  .App-Body {
    padding: 24px 12px;
  }
}
