.App {
  min-height: 100vh;
  background-color: #eee4;
}

.Auth-Layout {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 24px;
}

.App-Header {
  display: flex;
  flex-direction: row !important;
  align-items: center;
  height: 60px;
  position: sticky !important;
  z-index: 2;
  padding: 0px 24px;
}

.App-Body {
  padding: 24px;
}

@media screen and (max-width: 800px) {
  .App-Header {
    padding: 0px 8px;
  }
  .App-Body {
    padding: 24px 12px;
  }
}
